@import "main.scss";

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    figure{
        margin-bottom: -40px;
        width: 100%;
        height: 250px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }   
    }
    .menu{
        flex-basis: 100%;
        padding: 35px 15px 15px 15px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-color:rgba(246,246,246,255);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        >h1{
            flex-basis: 100%;
            font-size: 25px;
            font-weight: 500;
            font-family: ;
            background-color: red;
        }
        
        // >button{
        //     margin: 30px 0px 50px 0px;
        //     width: 170px;
        // }
        // .h1menu{
        //     font-size: 25px;
        //     font-weight: 500;
        //     font-family: "Shrikhand";
        //     background-color: rgba(246,246,246,255);
        //     border-top-left-radius: 40px;
        //     border-top-right-radius: 40px;
        //     justify-content: space-between;
        //     flex-basis: 100%;
        //     display: flex;
        //     padding-left: 15px;
        // }
        // i{
        //     font-size: 25px;
        // }
        // #starter , #dishes, #dessert{
        //     display: flex;
        //     row-gap: 15px;
        //     justify-content: center;
        //     flex-wrap: wrap;
        //     background-color: rgba(246,246,246,255);
        //     flex-basis: 100%;
            // h2{
            //     flex-basis: 100%;
            //     margin: 40px 10px 5px 13px;
            //     .green-line{
            //         border-bottom: 1px $tertiary-color solid;
            //         border-bottom-width: 3px; 
            //     }
            // }
            // article{
            //     @include box-shadow;
            //     border-radius: 20px;
            //     display: flex;
            //     overflow: hidden;
            //     text-overflow: ellipsis;
            //     background-color: white;
            //     flex-basis: 100%;
            //     align-items: center;
            //     justify-content: space-between;
            //     cursor: pointer;
            //     height: 70px;
            //     white-space: nowrap;
                
                
            //     h3{
            //         width: 80%;
            //         font-size: 18px;
            //         font-weight: 500;
            //         padding: 5px;
            //         overflow: hidden;
            //         text-overflow: ellipsis;
            //         white-space: nowrap;
            //     }
            //     .detail{
            //         display: flex;
            //         flex-wrap: wrap;
            //         flex-basis: 100%;
            //         padding: 5px;
            //         font-size: 15px;
            //         font-weight: 300;
            //         overflow: hidden;
            //         text-overflow: ellipsis;
                    
            //         background-color: red;
                    
            //         p{
            //             padding-left: 5px;
            //             text-overflow: ellipsis;
            //             white-space: nowrap;
            //             overflow: hidden;
                        
                        
            //         }
            //     }
            //     .price{
            //         flex-basis: 20%;
            //         display: flex;
            //         padding: 5px;
            //         margin-top: 30px;
            //         background-color: white;
            //         font-weight: 500;
            //         text-align: center;
            //         margin-left: auto;
            //         width: 80px;
            //         overflow: hidden;
            //         text-overflow: ellipsis;
            //         white-space: nowrap;
            //         position: relative;
            //         right: -80px;
            //         transition: right 1.2s;
            //     }
            //     .checkmenu{
            //         padding: 17px;
            //         position: relative;
            //         right: -90px;
            //         transition: right 1.2s;
            //         background-color:$tertiary-color;
                    
            //         i{
            //             color: white;
            //             align-items: center;
            //             padding: 7px;
            //         }
            //     }
            // }
            // article:hover{
            //     .price{
            //         right: 0;
            //     }
            //     .checkmenu{
                    
            //         right: 0;
            //         i{
            //             animation: animationiconecheck 1s;
            //         }
            //     }
            // }
        // }
        // #starter{
        //     h2{
        //         margin-bottom: 10px;
        //     }
        // }
    }
}


// @media screen and (min-width:980px){
//     main{
//         display: flex;
//         .menu{
//             flex-wrap: wrap;
//             display: flex;
//             column-gap: 20px;
//             flex-basis: 100%;
//             .h1menu{
//                 flex-basis: 100%;
//            }
//             #starter,#dishes, #dessert {
//                 flex-basis: 31%;
//             }
//         }
//     }
// }