button{
    padding: 15px;
    border-radius: 25px;
    background:linear-gradient($secondary-color,$primary-color);
    margin: auto;
    
    color: white;
    border: none;
    font-weight: 500;
    
}