// header index 
.headerhome{
    display: flex;
    justify-content: center;
    padding: 15px;
    
    img{
        height: 30px;
    }
}
// header commun
header{
    padding: 10px;
    
    
    span{
        
        
        
    }
    a{
        font-size: 20px;
        float: left;

        
    }
    p{
        font-family: "Shrikhand";
        text-align: center;
        
        font-size: 25px;
        
        
    }
}